html {
    background: #FBEAEB;
    height: 100vh;
    display: grid;
    place-content: center;
    -webkit-tap-highlight-color: transparent; }
  
  .menu {
    position: relative;
    top: 40px;
    padding: 30px;
    background: #FBEAEB;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0); }
    .menu::before, .menu::after {
      content: "";
      background: #2F3C7E;
      border-radius: 5px;
      width: 30px;
      height: 5px;
      position: absolute;
      left: 16px;
      top: 27px;
      transition: 0.2s ease;
      z-index: 1; }
    .menu::before {
      transform: rotate(0deg); }
    .menu::after {
      transform: rotate(-90deg); }
    .menu.open {
      opacity: .9; }
      .menu.open::before {
        transform: rotate(45deg); }
      .menu.open::after {
        transform: rotate(-45deg); }
      .menu.open .button {
        opacity: 1;
        pointer-events: auto; }
        .menu.open .button:first-of-type {
          bottom: 40px;
          right: 70px;
          background: url("assets/classroom-48.png") no-repeat 50%/50% #2F3C7E;
         }
        .menu.open .button:nth-of-type(2) {
          bottom: 80px;
          background: url("assets/student-48.png") no-repeat 50%/50% #2F3C7E;
          transition-delay: .05s; }
        .menu.open .button:nth-of-type(3) {
            bottom: -80px;
            background: url("assets/search-8-48.png") no-repeat 50%/50% #2F3C7E;
            transition-delay: .2s; }
        .menu.open .button:nth-of-type(4) {
            bottom: -40px;
            right: -70px;
            background: url("assets/approve-48.png") no-repeat 50%/50% #2F3C7E;
            transition-delay: .15s; }
        .menu.open .button:nth-of-type(5) {
            bottom: -40px;
            right: 70px;
            background: url("assets/logout-48.png") no-repeat 50%/50% #2F3C7E;
            transition-delay: .25s; }
        .menu.open .button:last-of-type {
          bottom: 40px;
          right: -70px;
          background: url("assets/text-file-3-48.png") no-repeat 50% 45%/50% 45% #2F3C7E;
          transition-delay: .1s; }
  
  .button {
    padding: 30px;
    border-radius: 50%;
    cursor: pointer;
    background: #2F3C7E;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    box-shadow: inherit;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform; }
    .button:hover {
      transform: scale(1.1); }
  


      .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 350px;
        background-color: #2f3c7eae;
        margin: 10px auto;
        border-radius: 20px;
        flex-wrap: wrap;
        padding-bottom: 50px;
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding-top: 20px;
        
      }
      .size_heading{
        color: #FBEAEB;
        font-family: "Open Sans";
        font-size: 20px;
      }
      .input_clear {
        background-color:#FBEAEB;
        font-family: "Open Sans";
        font-size: large;
        width: 75%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #f7dadc;
        border-radius: 4px;
      }
      .input_clear:focus {
        outline: none !important;
        font-family: "Open Sans";
        border: 2px solid #f7dadc;
        box-shadow: 0 1px #f6ebec;
        color: #000000;
      }
      .btn {
        cursor: pointer;
        width: 75%;
        border: 1px solid #f7dadc;
        padding: 14px 30px;
        border-radius: 200px;
        color: #000000;
        background: #FBEAEB;
        font-family: "Open Sans";
        font-size: 16px;
        transition: 200ms;
      }
      
      .btn:hover {
            background: rgba(255,255,255,0.13);
            color: #FBEAEB;
      }
      .login_text{
        display: inline;
      }

      .label{
        color: #f7dadc;
        margin-left: 13%;
        align-self: start !important;
        margin-bottom: -3%;
      }